venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
.DS_Store
my_env/
me_indicators_automation/Data/
.spyproject/
*.ipynb
me_indicators_automation/static/styles/css/bootstrap-grid.css
me_indicators_automation/static/styles/css/bootstrap-grid.css.map
me_indicators_automation/static/styles/css/bootstrap-grid.min.css
me_indicators_automation/static/styles/css/bootstrap-grid.min.css.map
me_indicators_automation/static/styles/css/bootstrap-reboot.css
me_indicators_automation/static/styles/css/bootstrap-reboot.css.map
me_indicators_automation/static/styles/css/bootstrap-reboot.min.css
me_indicators_automation/static/styles/css/bootstrap-reboot.min.css.map
me_indicators_automation/static/styles/css/bootstrap.css
me_indicators_automation/static/styles/css/bootstrap.css.map
me_indicators_automation/static/styles/css/bootstrap.min.css.map
me_indicators_automation/static/styles/js/bootstrap.bundle.js
me_indicators_automation/static/styles/js/bootstrap.bundle.js.map
me_indicators_automation/static/styles/js/bootstrap.bundle.min.js
me_indicators_automation/static/styles/js/bootstrap.bundle.min.js.map
me_indicators_automation/static/styles/js/bootstrap.js
me_indicators_automation/static/styles/js/bootstrap.js.map
me_indicators_automation/static/styles/js/bootstrap.min.js.map
