<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>M&E Metrics generator</h1>
  <h3>Pregnancy Screening</h3>
  <form class="" action="pss" method="post" enctype="multipart/form-data">
    <label for="csvfile">Select pregnancy screening csv file:</label>
    <input type="file" name="csvfile" value="">
    <input type ="submit" name="" value="Generate Metrics">
    <p>NOTE: The csv file should include the following columns: 'chw_name','woman_at_home','woman_ID','last_visit','last_visit_nepali',
              'agrees_for_service','urine_test','urine_test_positive',
              'pregnancy_status','balanced_counseling.bcs_form.method_change',
              'menopause','want_more_children', 'birth_gap', 'contraceptive_current',
              'balanced_counseling.bcs_form.counseling.method_chosen1'</p>
  </form>
  <h3>ANC</h3>
  <form class="" action="anc" method="post" enctype="multipart/form-data">
    <label for="csvfile">Select ANC csv file:</label>
    <input type="file" name="csvfile" value="">
    <input type ="submit" name="" value="Generate Metrics">
    <p>NOTE: The csv file should include the following columns: 'placeholder'</p>
  </form>
</body>
</html>
