body {
  background-color: #eeeeee;
}

* {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 25px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #37474f;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #607d8b;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #eceff1;
  margin-bottom: 8px;
  width: 100%;
}

.collapsible:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 20px;
}

.active:after {
  content: '\2212'; /* Unicode character for "minus" sign (-) */
  color: white;
}

h3 {
  color: black;
  text-align: left;
  font-size: 18px;
}

h4 {
  color: black;
  text-align: left;
  font-size: 14px;
}

p, ol, #label {
  font-size: 14px;
}

#col_list{
  font-family: "Courier New", Courier, monospace;
}

.row-h{
  height: 250px;
  
}

.hrz-txt-scroll {
  height: 240px;
  padding: 20px;
  overflow-y: auto;
  padding: 0 18px;
  white-space: wrap;
  background-color: #ffffff;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #a3a3a3;
}

.hrz-txt-scroll p {
    margin-bottom: 0;  
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #eceff1; /* #f1f1f1 */
  padding: 2px;
  font-size: 100%;
}

.inset {
  padding: 10px;
  color: black;
  padding: 6px 15px;
  white-space: wrap;
  background-color: #cfd8dc;
  margin-top: 0px;
  font-size: 14px;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 10px;
}